requests
beautifulsoup4

## Setup Commands

cd ~/Python-Projects
mkdir project-15-web-scraper
cd project-15-web-scraper
touch README.md main.py requirements.txt

## Run

pip install -r requirements.txt
python main.py

## Git Commands

cd ..
git add .
git commit -m "add project 15 web scraper"
git push
