No external dependencies required

## Setup Commands

cd ~/Python-Projects
mkdir project-12-file-backup-system
cd project-12-file-backup-system
mkdir source_files backup_files
touch README.md main.py requirements.txt

## Run the Project

python main.py

## Git Commands

cd ..
git add .
git commit -m "add project 12 file backup system"
git push
